<h1>Submit a new burger to our ranking database</h1>


<form action="/addBurgerPostRequest" method="POST">
    <label for="restaurantName">Restaurant Name</label>
    <input type="text" id="restaurantName" name="restaurantName" placeholder="Input name here">
    <label for="burgerRating">Burger Ratig</label>
    <input type="number" id="burgerRating" name="burgerRating" placeholder="Give a rating between 1 and 5">
    <input type="submit">
</form>
